html, body {
	height: 100%;
}

.file-item-icon {
	font-size: 80px;
}

.file-item {
	border-radius: 15px;

	font-weight: 600;
	font-family: "Monaco", monospace;

	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.file-item.selected {
	background-color: #78b8e4;
}

.file-item:hover {
	background-color: #cecfcf;
}

.folder {
	color: #c4b745;
}

.file {
	color: #906ab3;
}